:host {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
