:host {
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: block;
}

.bg-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  max-height: none;
  display: block;
}
