<div [ngClass]="{'outlineRB': sketch }"></div>
<div [ngClass]="{'outlineRB': sketch }"></div>
<div [ngClass]="{'outlineRB': sketch }"><app-switch (onChange)="toggle($event)" [activo]="true" /></div>

<div [ngClass]="{'outlineRB': sketch }"></div>
<div [ngClass]="{'outlineRB': sketch }"><app-menu /></div>
<div [ngClass]="{'outlineRB': sketch }"></div>

<div [ngClass]="{'outlineRB': sketch }"></div>
<div [ngClass]="{'outlineRB': sketch }"><router-outlet /></div>
<div [ngClass]="{'outlineRB': sketch }"></div>